doctype
html
    head(lang = "en")
      title My Jade Tutorial Page
      meta(name="author" content="Jobith M Basheer")
      meta(name="description" content="Tutorial page to run through the basics of Jade") 
    body
